<div class="container text-center my-5 p-2">
  <div id="contact" class="card text-center mt-5 p-5">
    <h2><i class="fa-regular fa-address-book"></i>&nbsp;<strong>Contact Us & Customer Service</strong></h2>

    <div>
      <h3><strong>Contact Us</strong></h3>
      <p>Have questions or need assistance? Contact our support team.</p>
      <ul>
        <li><i class="fa-solid fa-phone"></i>&nbsp; +55 (21) 11111-1111</li>
        <li><i class="fa-solid fa-envelope"></i>&nbsp; contact@taprecisando.com</li>
        <li><i class="fa-solid fa-location-dot"></i>&nbsp; Rua Visconde de Pirajá 142, Rio de Janeiro, RJ, 22410-001 </li>
      </ul>
    </div>

    <div>
      <h3><strong>Customer Service</strong></h3>
      <p>Our dedicated customer service team is ready to help with any questions or issues.</p>
      <ul>
        <li><i class="fa-solid fa-phone"></i>&nbsp; +55 (21) 11111-2222</li>
        <li><i class="fa-solid fa-envelope"></i>&nbsp; support@taprecisando.com</li>
      </ul>
    </div>
  </div>
</div>
