.navbar-lewagon {
  justify-content: space-between;
  background: $background-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav.me-auto{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li{
    padding:10px;
  }
}
