
<h1 class="text-capitalize text-center">New Product</h1>


<div class="container ">
  <div class="row mt-4 justify-content-center">
    <div class="col-6 col-lg-4">
      <%= render 'form', product: @product %>
      <%= link_to products_path do %>
        <i class="fa-solid fa-circle-arrow-left fa-2x mt-5"></i>
      <% end %>
    </div>
  </div>
</div>
